.register-container {
  .login-block {
    .username-block {
      margin-bottom: 1.25rem;
    }
    .alert-urfu-email {
      margin-bottom: 1rem;
    }
    .register-title {
      margin-top: 0;
    }
  }
}
