.filters_and_button,
.filters_add_review {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  z-index: 5;
  .select_active .select_body {
    visibility: visible;
  }
  .select_active .select_header_icon {
    transform: rotate(180deg);
  }
  .select_teacher {
    width: 442px;
    position: relative;
    .select_body {
      width: 442px;
    }
  }
  .select_filters {
    width: 280px;
    .select_body {
      width: 280px;
    }
    .select_header {
      background-position: 237px 25px;
    }
  }
  .select_header {
    background: #ffffff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #8a8a8a;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 25px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    z-index: 3;
    position: relative;
    cursor: pointer;
    .select_header_icon {
      width: 20px;
      height: 20px;
      background-image: url('/img/arrow-bottom.svg');
      background-repeat: no-repeat;
      background-position: center center;
      transition: 0.3s;
      margin-left: 14px;
      flex-shrink: 0;
    }
    &::-ms-expand {
      display: none;
    }
  }
  .select_body {
    background: #fff;
    margin-top: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    padding: 17px 25px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
    .option {
      width: 100%;
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      color: #333333;
      cursor: pointer;
    }
  }
  .select_shown_body {
    top: 100%;
    margin-top: 30px;
    opacity: 1;
  }
}
