header {
  background: var(--blue-color-9);
  background: linear-gradient(
    90deg,
    rgba(50, 188, 250, 1) 4%,
    rgba(24, 121, 227, 1) 80%,
    rgba(11, 98, 193, 1) 100%
  );
  background: white;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  .title {
    color: var(--gray-color-4);
    border-radius: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .header {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1.5rem;
    row-gap: 1rem;
    font-family: 'Roboto', sans-serif;
    > div {
      justify-content: space-between;
    }
    padding: 1rem 1.5rem;
  }
}

.search {
  flex-grow: 1;
  flex-shrink: 8;
}

.search_container {
  max-width: 35rem;
  display: flex;
  height: 2.75rem;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 1.2rem;
  font-size: 1.3rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  path {
    fill: var(--gray-color-5);
  }
}

input.search-input {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  // background-color: var(--white-color);
  // background-image: url('../../img/search.svg');
  // background-size: 1.4rem;
  // background-repeat: no-repeat;
  // background-position: 1rem center;
  text-overflow: ellipsis;
  border-radius: 15px 0 0 15px;
  border: 2px solid var(--blue-color-10);
  padding-left: 3rem;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: var(--gray-color-5);
  &:active {
    border: 2px solid var(--blue-color-10);
    outline: none;
  }
  &:focus {
    border: 2px solid var(--blue-color-10);
    outline: none;
  }
  &::placeholder {
    font-size: 1rem;
    color: var(--gray-color-5);
    font-family: 'Roboto', sans-serif;
  }
}

.search-input button {
  width: 3rem !important;
  height: 2.75rem !important;
}

.button-search {
  padding: 0 1.5rem;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 100%;
  background-color: var(--blue-color-10);
  border-radius: 0 15px 15px 0;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  border: none;
  box-sizing: border-box;
}

.nav-items-grid {
  display: flex;
  justify-content: flex-end;
  .nav-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 1rem;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    a,
    div {
      // background: var(--blue-gradient-4);
      color: white;
      cursor: pointer;
      flex-shrink: 0;
      border-radius: 1rem;
      height: 2.75rem;
      padding: 0 1rem;
      box-sizing: border-box;
      // color: black;
      text-decoration: none;
      font-size: 1rem;
      display: flex;
      gap: 0.75rem;
      justify-content: center;
      align-items: center;
      path {
        fill: white;
      }
    }
    .login {
      background: var(--blue-gradient-1);
    }
    .logout {
      background: var(--blue-gradient-1);
    }
    .add-review {
      background: var(--blue-gradient-3);
    }
  }
}

.sidebar-icon {
  display: none;
  align-items: center;
  svg {
    fill: var(--gray-color-4);
    flex-shrink: 0;
  }
}

@media screen and (max-width: 1199px) {
  .sidebar-icon {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .header {
    flex-wrap: wrap;
  }
}
