.layout {
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 5;
  .modal_window {
    width: 1080px;
    height: 702px;
    padding: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.35);
    color: #000000;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    box-sizing: border-box;
    .header {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      align-items: flex-start;
      font-weight: 600;
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 13px;
      img {
        cursor: pointer;
      }
    }
    .values {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      align-items: center;
      margin-bottom: 41px;
      div {
        margin-bottom: 11px;
        font-size: 20px;
        line-height: 23px;
        p {
          font-weight: 600;
          margin: 0;
          padding: 0;
          margin-bottom: 2px;
          font-size: 22px;
          line-height: 26px;
        }
      }
      div:last-child {
        margin-bottom: 0;
      }
    }
    .tracks {
    }
  }
}
