.filters_add_review {
  .select_course_semester {
    width: 215px;
    .select_body {
      width: 215px;
    }
  }
  .select_subject {
    width: 294px;
    .select_body {
      width: 294px;
    }
  }
  .select_track {
    width: 285px;
    .select_body {
      width: 285px;
    }
  }
  .select_teacher {
    width: 228px;
    .select_body {
      width: 228px;
    }
  }
}
