.filters_add_review {
  .select {
    min-width: 11rem;
    flex-grow: 1;
  }
  .select_course_semester {
    width: calc(20% - 0.75rem);
    position: relative;
    .select_body {
      width: 100%;
    }
  }
  .select_subject {
    width: calc(25% - 0.75rem);
    position: relative;
    .select_body {
      width: 100%;
    }
  }
  .select_track {
    width: calc(25% - 0.75rem);
    position: relative;
    .select_body {
      width: 100%;
    }
  }
  .select_teacher {
    width: calc(25% - 0.75rem);
    position: relative;
    .select_body {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .filters_add_review {
    .select_course_semester,
    .select_subject,
    .select_track,
    .select_teacher {
      width: calc(50% - 0.5rem);
    }
  }
}

@media screen and (max-width: 576px) {
  .filters_add_review {
    .select_course_semester,
    .select_subject,
    .select_track,
    .select_teacher {
      width: 100%;
    }
  }
}
