.filters_add_review {
  .select_course_semester {
    width: 10rem;
    position: relative;
    .select_body {
      width: 10rem;
    }
  }
  .select_subject {
    width: 14.5rem;
    position: relative;
    .select_body {
      width: 14.5rem;
    }
  }
  .select_track {
    width: 14.5rem;
    position: relative;
    .select_body {
      width: 14.5rem;
    }
  }
  .select_teacher {
    width: 11.5rem;
    position: relative;
    .select_body {
      width: 11.5rem;
    }
  }
}
