.search_page {
  .search_tracks_container {
    margin: 1.5rem 0;
    .search_title {
      margin: 0;
      margin-bottom: 1.5rem;
      font-weight: 600;
      font-size: 1.25rem;
      color: var(--black-color);
    }
  }
  .tracks_and_filters {
    justify-content: space-between;
    .tracks_filters {
      width: 100%;
      max-width: 350px;
      float: right;
      color: var(--black-color);
      padding: 1.25rem 1rem;
      box-sizing: border-box;
      background: var(--white-color);
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
      border-radius: 20px;
      text-align: center;
      .filters_title {
        font-weight: 600;
        font-size: 1.1rem;
        margin: 0;
        margin-bottom: 0.25rem;
      }
      .filters_description {
        font-size: 1rem;
        margin: 0;
        margin-bottom: 1rem;
      }
      .filters {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 1.1rem;
        span {
          padding: 0.5rem 0.8rem;
          background: var(--blue-color-3);
          border-radius: 10px;
          font-size: 0.9rem;
          cursor: pointer;
          &.active_filter {
            background: var(--blue-color-1);
            font-weight: 500;
            font-size: 0.9rem;
            color: var(--white-color);
          }
        }
      }
      .reset_filters {
        text-decoration: none;
        display: block;
        background: var(--gray-color-5);
        border-radius: 10px;
        padding: 0.6rem 0.75rem;
        font-weight: 500;
        font-size: 0.9rem;
        color: var(--white-color);
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .search_page {
    .filters {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 575px) {
  .search_page {
    .filters {
      flex-direction: row;
      span {
        width: 50%;
      }
    }
    .tracks_and_filters {
      flex-direction: column-reverse;
      .tracks_filters {
        max-width: 100%;
      }
    }
  }
}
