.add_review_page {
  color: var(--black-color);
  .add_review_title {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0;
  }
  .hr_add_review {
    width: 100%;
    height: 1px;
    background: var(--gray-color-3);
    margin-bottom: 1.5rem;
  }
  .assessments_blocks {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  .add_review_comment_text {
    font-weight: 500;
    font-size: 1.25rem;
    margin: 1.25rem 0 1rem 0;
  }
  textarea {
    width: 100%;
    height: 10.5rem;
    background: var(--white-color);
    border-radius: 25px 25px 0 0;
    border: none;
    padding: 1.25rem;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: inherit;
    &:focus {
      border: none;
      outline: none;
    }
  }
  .bottom-panel-textarea {
    padding: 0.5rem 1.5rem;
    background-color: var(--gray-color-5);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
    border-radius: 0 0 25px 25px;
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    color: white;
    width: 100%;
    position: relative;
    bottom: 0.5rem;
    span {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-weight: 500;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: var(--gray-color-1);
      }
    }
  }
  .emoji-picker {
    position: absolute;
    right: 0rem;
    z-index: 999;
    bottom: 12.5rem;
    visibility: visible;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: 0.3s;
    &.hide {
      visibility: hidden;
      bottom: 0;
      opacity: 0;
    }
  }
  .add-review-button {
    width: 13rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    box-sizing: border-box;
    background: var(--blue-gradient-1);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-size: 1rem;
    color: var(--white-color);
    outline: none;
    border: none;
    cursor: pointer;
    background-size: 300% 100%;
    transition: all 0.4s ease-in-out;
    &:hover {
      background-position: 100% 0;
      transition: all 0.4s ease-in-out;
    }
    &:disabled {
      filter: grayscale(1);
      background-position: 0 0;
      transition: none;
    }
  }
  hr {
    margin-top: 1.5rem;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--gray-color-3);
  }
  .user-name-block {
    font-size: max(0.9rem, 14px);
    margin-top: 1.5rem;
    font-family: inherit;
    display: flex;
    // flex-direction: column;
    gap: 0.25rem;
    p {
      margin: 0;
    }
    .user-name {
      font-weight: 600;
    }
  }
  .bottom-panel {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-between;
    font-family: inherit;
    .switch-anonym {
      background-color: var(--gray-color-1);
      display: flex;
      align-items: center;
      padding: 1rem;
      gap: 1.5rem;
      border-radius: 8px;
      p {
        margin: 0;
      }
    }
  }
  .blocks {
    flex-wrap: nowrap;
    .right_block {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      &_info {
        width: 80%;
        // max-width: 330px;
        background: var(--white-color);
        padding: 1.75rem 1.25rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        box-sizing: border-box;
        &_title {
          font-weight: 500;
          font-size: 1rem;
          margin-bottom: 1rem;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          font-size: 0.9rem;
          li {
            position: relative;
            padding-left: 2rem;
            margin: 0;
            margin-bottom: 0.5rem;
            &:last-child {
              margin-bottom: 0;
            }
            &.checked_li {
              &::before {
                background-image: url('../../img/checkmark_in_blue_rectangle.svg');
              }
            }
            &::before {
              position: absolute;
              content: '';
              left: 0;
              top: 0;
              width: 1rem;
              height: 1rem;
              background: var(--blue-color-2);
              border-radius: 5px;
            }
          }
        }
        &_anon_text {
          font-size: 1rem;
          line-height: 20px;
          text-align: right;
          width: 6rem;
          margin-left: auto;
          color: var(--gray-color-4);
          margin-top: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .right_block_info {
    width: 88% !important;
  }
}

@media screen and (max-width: 900px) {
  .right_block_info {
    width: 90% !important;
  }
}

@media screen and (max-width: 767px) {
  .right_block {
    display: none !important;
  }
}
